# Allow only the main Python files:
!For_my.py

# Byte-compiled / optimized / DLL files:
__pycache__/
*.py[cod]
*$py.class

# Ignore following files:
.directory
pending.py
count.py

# Ignore following folders:
.vscode/
.idea/

# Ignore following file extensions:
*.csv
*.html
*.xml
*.bak
*.txt