# Allow only the main Python file:
!For_my.py

# Byte-compiled / optimized / DLL files:
__pycache__/
*.py[cod]
*$py.class

# Ignore following files:
.directory

# Ignore following folders:
.vscode/
.idea/

# Ignore following file extensions:
*.py
*.csv
*.html
*.bak
*.json